<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Comments</h2>
	</div>
	<div class="panel-body">

	</div>
</div>

<!--
<%= @talk %>
<%= category %>
<%= simple_form_for :comment ,:role=> "form",:remote=>true, :url => comments_path do|f| %>
<%= f.input :content %>
<%= f.input :talk_id, :input_html => { :value => @talk } %>
<%= f.submit %>
<% end %>
-->