<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Speaker</h2>
		<%= f.input :speaker_id, :as => :hidden %>
		<%= f.input :talk_id, :id=>"talk_id" ,:as => :hidden %>					
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">Speaker Name:&nbsp&nbsp&nbsp<%= a.speaker_profile.eng_name%></div>
			<div class="col-md-12">中文姓名:&nbsp&nbsp&nbsp<%= a.speaker_profile.chi_name%></div>
		</div>

		<!-- <div class="row">
			<div class="col-md-4">
				New Speaker
			</div>
			<div class="col-md-4">
				<#%= f.input :eng_name , :input_html => { :class => "form-control"}, placeholder:"Eng_name" , label: false%>	
			</div>
			<div class="col-md-4">
				<#%= f.input :chi_name ,  placeholder:"Chi_name" , label: false, :input_html => { :class => "form-control"}%> 
			</div>
		</div> -->
		<table class="table">
	  		<thead>
	  			<tr>
	  				<th>#</th>
		  			<th>Nation</th>
		  			<th>University/School</th>
		  			<th>College</th>
			  		<th>Department</th>
		  			<th>Degree</th>
			  		<th>Year</th>
			  	<tr>
	  		</thead>
	  		<tbody>
	  			<% n = 1 %>
  				<% a.speaker_profile.acadamic_histories.each do |h| %>
		  			<tr>
		  				<th><%= n %></th>
			  			<th><%= h.nation %></th>
			  			<th><%= h.school %></th>
			  			<th><%= h.college %></th>
				  		<th><%= h.department %></th>
		  				<th><%= h.degree %></th>
		  				<th><%= h.year %></th>
		  				<% n += 1%>
				  	</tr>
				<% end %>
			</tbody>
		 </table>		  			 	
	</div>
</div>