<style>
  .thumb {
    height: 180px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
 
</style>

<div class="container">
	<p style="color: green"><%= flash[:notice] %></p>

	<div class="well well-lg">		<!-- comments -->
		<% @allusercomments.each do |uc| %>
			<div class="row">
			<%#= render :partial => 'commenting', :locals => { :f => f } %>
				<h3> <span class="label label-success"><%= uc[0] %>:</span>
	 			<span class="label label-primary"><%= uc[1] %> <font size=1>[<em><%= uc[2] %></em>]</font></span>
			</div>
		<% end %>
		<div class="row">
		<%= simple_form_for :comment_content, :url => { :controller => 'comments', :action => 'create' } do |f| %>
			<%= f.input :talk_id, :as => :hidden, :input_html=> {"value"=>@talk_content.talk_id}%>
			<%= f.input :comments %>
			<%= f.submit "Send", :class=>"btn btn-primary" %>
		<% end %>
		</div>
	</div>


	<%= simple_form_for :talk_content, :role=> "form", :url => talk_path(@talk_content.talk_id),
	 	:method=>:put do |f| %>
	<%= f.input :speaker_id, :as => :hidden %>
	<%= f.input :talk_id, :id=>"talk_id" ,:as => :hidden %>					
	<div class="row">
		<div class= "col-md-6">
			<div class="row">
				<%= render :partial => 'speaker_data', :locals => { :f => f } %>	
			</div>	
			<%= render :partial => 'helper_data', :locals => { :f => f } %>	
  		</div>
  		<div class="col-md-6 ">
			<div class="panel panel-primary">
  				<div class="panel-heading">
   		 			<h3 class="panel-title">Process List</h3>
  				</div>
				<div class="panel-body process_list">
					<% @talk_content.process.each  do |p| %>
						<div class="row draggable">
			  				<div class="col-md-6">
						  		<%= f.input_field :process, :checked =>p.finished,  as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false, :include_hidden => false,:disabled=> p.finished %>
					  			<%= f.label :process, p.process_name, :class=>"process_name" , boolean_style: :inline,:contentEditable =>"true"%>
			  				</div>
	  						<div class="col-md-2">
		  						<%= button_tag "remove" , :class=>"remove_process btn btn-danger btn-xs" %>	
			  				</div>
			  				<div class="col-md-3">
			  					<div class=<% if !p.finished %> 
  									<%= "hidden" %>
	  							<% else %>
	  								<%= "show" %> 
	  							<% end %>>
	  							<%= f.input :process_lists , :input_html => { :value=>p.finished_date, :class => "datetimepicker form-control"} , label: false%>
			  					</div>
							</div>
						</div>
					<% end %>
				</div>
			 	<div class="panel-footer">
					<%= button_tag "add process" , :id=>"add_process", :class=>" btn btn-primary"%>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'talk_data', :locals => { :f => f } %>	
	<%= render :partial => 'submit_data', :locals => { :f => f } %>
	<% end %>
</div>





  

<script type="text/javascript">
           
$('.mymodal').click(function(){
	var type = $(this).data('id');
	document.getElementById("comment_comment_type").value = type;
});
				
						
$("#save_comment").click(function(){
	
	return false;
});


</script>
 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	<div class="modal-dialog">
    	<div class="modal-content"></div>
    	<%= simple_form_for :comment ,:role=> "form", :url => comments_path, :method=>:post do|f| %>	
    		<div class="modal-body" >
		
				<div id="myModalContent"> 
        			<%= f.input :comments , :label =>false, :input_html=>{:class=>"form-control", :placeholder=>"Leave a comment"}%>
		    		<%= f.input :comment_type, :as=>:hidden %>
    				<%= f.input :talk_id, :as=>:hidden,  :input_html=>{:value=>@talk_content.talk_id}%>
    			</div>
			</div>
			<div class="modal-footer">
    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		<%= f.submit "Save Comment", :class=>"btn btn-primary", :id=>"save_comment", :input_html=>{"data-toggle"=>"modal",  "data-target"=>"#myModal"}%>
	  		</div>
  		<% end %>
    </div>
</div>

