<style>
  .thumb {
    height: 180px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
 
</style>

<div class="container">
<p style="color: green"><%= flash[:notice] %></p>

<div class="well well-lg">
<% @usercomments.each do |uc| %>
<div class="row">
	
<h3> <span class="label label-info"><%= uc.user.name %>:</span>
 <span class="label label-primary"><%= uc.comment.content %></span></h3>	
</div>
<% end%>
</div>




<%= simple_form_for :talk_content ,:role=> "form", :url => talk_path(@talk_content.talk_id), :method=>:put do|f| %>
  <div class="row">
	<div class= "col-md-6">
		<div class="row">
			<div class="panel panel-primary">
				 <div class="panel-heading">
					<h2 class="panel-title">Speaker</h2>
					<%= f.input :speaker_id, :as => :hidden %>
					<%= f.input :talk_id, :id=>"talk_id" ,:as => :hidden %>					
				</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-5">Existing Speaker </div>
					<div class="col-md-7">
						<%=f.collection_select :existing, SpeakerProfile.all, :id, :eng_name%>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
							New Speaker
						</div>
						<div class="col-md-4">
							<%= f.input :eng_name , :input_html => { :class => "form-control"}, placeholder:"Eng_name" , label: false%>	
						</div>
						<div class="col-md-4">
						<%= f.input :chi_name ,  placeholder:"Chi_name" , label: false, :input_html => { :class => "form-control"}%> 
						</div>
				</div>
				<%= @talk_content.check_acadamic1 %>
				<div class="row">
				  		<div class="row">
					  		<div class="col-md-1"></div>
					  		<div class="col-md-2">School</div>
					  		<div class="col-md-3">Department</div>
					  		<div class="col-md-2">Year</div>
					  		<div class="col-md-2">Degree</div>
					  		<div class="col-md-2">Nation</div>
					  	</div>
					  	<div class="row">

					  		<h4><div class="col-md-1"><%= f.input :check_acadamic1,  :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false %></div></h4>
					  		<div class="col-md-2"><%= f.input :school1 , label:"school1", label: false ,placeholder:"School", :input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-3"><%= f.input :department1 , label:"department1" , label: false, :input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :year1 , label:"year1" , label: false, :input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :degree1 , label:"degree1" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :nation1 , label:"nation1" , label: false,:input_html => { :class => "form-control"}%></div>
					  	</div>
					  	<div class="row">
					  		<h4><div class="col-md-1"><%= f.input :check_acadamic2, :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false%></div></h4>
					  		<div class="col-md-2"><%= f.input :school2 , label:"school2", label: false,:input_html => { :class => "form-control"} %></div>
					  		<div class="col-md-3"><%= f.input :department2 , label:"department2" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :year2 , label:"year2" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :degree2 , label:"degree2" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :nation2 , label:"nation2" , label: false,:input_html => { :class => "form-control"}%></div>
					  	</div>
					  	<div class="row">
					  		<h4><div class="col-md-1"><%= f.input :check_acadamic3, :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false%></div></h4>
					  		<div class="col-md-2"><%= f.input :school3 , label:"school3", label: false ,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-3"><%= f.input :department3 , label:"department3" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :year3 , label:"year3" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :degree3 , label:"degree3" , label: false,:input_html => { :class => "form-control"}%></div>
					  		<div class="col-md-2"><%= f.input :nation3 , label:"nation3" , label: false,:input_html => { :class => "form-control"}%></div>
					  	</div>			  			 	
						
					</div>
				</div>
			</div>
	</div>

	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Helpers</h2>
			</div>
			<div class="panel-body">
				<div id="helpers_list">
					<div class="row">
						<div class="col-md-4 show">
							<h3><%= current_user.name %><h3>
							<%= f.label :user_id, label: current_user.id, :class=>"helpers", :id=>"current_helper_id", required: false, :as => :hidden%>
						</div>
						<div class="col-md-4 show" >
							<h3><%= f.input_field :user_id, :collection => User.all , :class => "helpers"%></h3>
						</div>
						<div class="col-md-4 hidden" >
							<h3><%= f.input_field :user_id, :collection => User.all , :class => "helpers"%></h3>
						</div>
					</div>
				</div>
				
			</div>
		</div> 
  	</div>
  	</div>
	<div class="col-md-6 ">
		<div class="panel panel-primary">
  		<div class="panel-heading">
   		 <h3 class="panel-title">Process List</h3>
  		</div>
		<div class="panel-body process_list">
			<% @talk_content.process.each  do |p| %>
			<div class="row draggable">
			  		<div class="col-md-6">
				  		<%= f.input_field :process, :checked =>p.finished,  as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false, :include_hidden => false,:disabled=> p.finished %>
				  		<%= f.label :process, p.process_name, :class=>"process_name" , boolean_style: :inline,:contentEditable =>"true"%>
			  		</div>
		  			<div class="col-md-2">
		  				 <%= button_tag "remove" , :class=>"remove_process btn btn-danger btn-xs" %>
		  			</div>
		  			<div class="col-md-3">
		  				<div class=<% if !p.finished %> 
		  							<%= "hidden" %>
		  							<% else %>
		  							<%= "show" %> 
		  							<% end %>>
		  				 <%= f.input :process_lists , :input_html => { :value=>p.finished_date, :class => "datetimepicker form-control"} , label: false%>
		  				</div>
				</div>
			</div>
			<% end %>
		</div>
		
	 <div class="panel-footer">
	<%= button_tag "add process" , :id=>"add_process", :class=>" btn btn-primary"%>
	</div>
	</div>
	</div>
</div>
<div class="row">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Poster Related</h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
			<h3>POSTER LINK</h3>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :poster , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>Background</h3>
			</div>
			<div class="col-md-6">
			<h3><%= f.file_field :bg, :id=>"bg_files"%></h3>
			<output class="list" id="list"><span><%=  image_tag @talk_content.bg.url(:medium) %></span></output>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>Photography</h3>
			</div>
			<div class="col-md-6">
			<h3><%= f.file_field :photography ,:id=>"photography_files"%></h3>
			<output class="list"><span><%=  image_tag @talk_content.photography.url(:medium) %></span></output>
			</div>
		</div>
	</div>
</div>
</div>



<div class="row">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">Talk Related</h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
			<h3>INTRO</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="INTRO"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :intro , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
			<h3>SLIDE1</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="SLIDE1"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :slide1 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>SLIDE2</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="SLIDE2"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :slide2 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
			<h3>SLIDE3</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="SLIDE3"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :slide3 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>VIDEO URL1</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="VIDEO_URL1"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :videourl1 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>VIDEO URL2</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="VIDEO_URL2"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :videourl2 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>VIDEO URL3</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="VIDEO_URL3"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :videourl3 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>VIDEO COMMENT1</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="VIDEO_COMMENT1"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :videocomment1 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>VIDEO COMMENT2</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="VIDEO_COMMENT2"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :videocomment3 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>Q&A LINK 1</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="Q&A1"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :feedback1 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>Q&A LINK 2</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="Q&A2"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :feedback2 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<h3>Q&A LINK 3</h3>
			<a href="" class="mymodal" data-target="#myModal" data-toggle="modal" data-id="Q&A3"><i class="fa fa-comment-o fa-2x"></i></a>
			</div>
			<div class="col-md-6">
			<h3><%= f.input_field :feedback3 , :as=>:text , :class => "form-control"%></h3>
			</div>
		</div>
	</div>	
	</div>
</div>
	<div class="col-md-12 col-md-offset-9">
</div>
	<%= f.input :date_array, :as => :hidden %>				
	<%= f.input :check_array, :as => :hidden  %>	
	<%= f.input :name_array, :as => :hidden  %>	
	<%= f.input :users_array, :as => :hidden  %>	
	<%= f.submit "Save", :class=>"btn btn-primary btn-lg"%>
	</div>
	<p>


	<% end %>			
</div>	
</div>




<script type="text/javascript">
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();
	  var target = $(evt.target).parent().parent().find(".list");
      
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          target.empty();
          target.append(span);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('bg_files').addEventListener('change', handleFileSelect, false);
  document.getElementById('photography_files').addEventListener('change', handleFileSelect, false);
</script>

        <script type="text/javascript">
            $(function () {            
                $('.datetimepicker').datepicker({
                    language: 'en',
                    format: 'yyyy/mm/dd',
         			autoclose:true,
         			pickTime: false,
         			todayHighlight: true,
         			todayBtn: "linked"
          	      });
          	  });
				//$(".row.draggable").draggable();
				$(".row.draggable").droppable();
				$(".process_list" ).sortable();
    			//$(".process_list" ).disableSelection();
				$(".boolean.optional").change(function() {
				     if(this.checked)
				    	{
				    	$(this).parent().parent().find('.hidden').removeClass('hidden').addClass('show');
				    	var current = new Date();
				    	var today = current.getFullYear()+"/"+(current.getMonth()+1)+"/"+current.getDate() ;
				    	var datetimepicker = $(this).parent().parent().find('.show').find('.datetimepicker');
				    	if(datetimepicker.val()=="")
				    		datetimepicker.val(today);
				    	}
				 	 else 
				 	 	{
				 	 		$(this).parent().parent().find('.show').removeClass('show').addClass('hidden');
				 	 		var datetimepicker = $(this).parent().parent().find('.hidden').find('.datetimepicker');
				 	 			datetimepicker.val("");
				 	 	}

				    });
				

				$(".remove_process").click(function(){
					$(this).parent().parent().remove();
					return false;

				});
				$(".helpers").change(function(){
					
					if(this.value=="")
						$(this).parent().parent().next('div').removeClass('show').addClass('hidden');
					else
						$(this).parent().parent().next('div').removeClass('hidden').addClass('show');

				});
			

				$('.mymodal').click(function(){
						var type = $(this).data('id');
						
						document.getElementById("comment_comment_type").value = type;
						
				});
				$("#add_process").click(function(){
					$('.process_list').append(
						$('<div>', {'class' : 'row draggable'}).append(
							$('<div>', {'class': 'col-md-6'}).append(
	     						$('<input/>', {'class': 'boolean optional','checked_value':'true', "type" : "checkbox", "value":"true", "unchecked_value":"false"})).append(
	     						$("<label/>" , { "text":"new process" ,"contentEditable":"true","class":"process_name",  'boolean_style':'inline', 'for':'talk_content_process'}))).append(
	     					$('<div>', {'class': 'col-md-2'}).append(
	     						$("<button/>", {"text":"remove", "class":"remove_process btn btn-danger btn-xs"}))).append(
	     					$('<div>', {'class': 'col-md-3'}).append(
							$("<input/>", {"text":"", "class":"datetimepicker form-control"})
	     						)
							
				))
					$(function () {            
                $('.datetimepicker').datepicker({
                    language: 'en',
                    format: 'mm/dd/yyyy',
         			autoclose:true,
         			pickTime: false,
         			todayHighlight: true,
         			todayBtn: "linked"
          	      });
          	  });
					$(".remove_process").click(function(){
					$(this).parent().parent().remove();
					

				});
	     				return false;

				});
						
					$("#save_comment").click(function(){
						alert("HII");
						return false;
				});

				  $('.simple_form.talk_content').submit(function()
					{
	    				try{
	    					var tab_active = $(".process_list");
					      	var all_dates = tab_active.find(".datetimepicker").map(function() {
	    					return this.value;
							}).get();
					     	 document.getElementById("talk_content_date_array").value = all_dates;
					    
					     	var all_checks = tab_active.find(".boolean.optional").map(function() {
	    					return this.checked;
							}).get();
					     	 document.getElementById("talk_content_check_array").value = all_checks;
					    	
					    	var all_checks_process_names = tab_active.find(".process_name").map(function() {
	    					return this.textContent;
							}).get();
					     	 document.getElementById("talk_content_name_array").value = all_checks_process_names;

					     	 

					      	var users = $("#helpers_list").children().find(".helpers").map(function() {
	    					return this.value;
							}).get();
					     	 
					     	 document.getElementById("talk_content_users_array").value = document.getElementById("current_helper_id").textContent+ "," +users;
					     	 

					    	}						
					    catch (error)
					    	{}
					    	

					    	
					});
 			$(function () {
  $("document").on("submit", ".new_user", function() {
      $('.signup').modal("close");
  });
});
        </script>
 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<%= simple_form_for :comment ,:role=> "form", :url => comments_path, :method=>:post do|f| %>
      
      <div class="modal-body" >
			<div id="myModalContent"> 
        		
        		<%= f.input :content , :label =>false, :input_html=>{:class=>"form-control", :placeholder=>"Leave a comment"}%>
        		<%= f.input :comment_type, :as=>:hidden %>
        		<%= f.input :talk_id, :as=>:hidden,  :input_html=>{:value=>@talk_content.talk_id}%>
        	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save Comment", :class=>"btn btn-primary", :id=>"save_comment", :input_html=>{"data-toggle"=>"modal",  "data-target"=>"#myModal"}%>
        
      </div>
    	<% end %>
    </div>
  </div>
</div>




<!-- Nav tabs -->


<!-- Tab panes -->
