<style>
  .thumb {
    height: 180px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
 
</style>

<div class="container">
	<p style="color: green"><%= flash[:notice] %></p>

	<div class="well well-lg">		<!-- comments -->
		<!-- <#% @allUserComments.each do |uc| %> -->
		<% Comment.where(talk_id: @talk.id.to_s).each do |uc| %>
			<div class="row">
			<%#= render :partial => 'commenting', :locals => { :f => f } %>
				<!-- <h3> <span class="label label-success"><#%= uc[0] %>:</span> -->
	 			<!-- <span class="label label-primary"> -->
	 				<!-- <#%= uc[1] %> <font size=1>[<em><#%= uc[2] %></em>]</font> -->
	 			<!-- </span> -->
	 			<h3> <span class="label label-success"><%= User.find(uc.user_id).name %>:</span>
	 			<span class="label label-primary">
	 				<%= uc.comments %> <font size=1>[<em><%= uc.updated_at %></em>]</font>
	 			</span>
			</div>
		<% end %>
		<div class="row">
		<%= simple_form_for :comment_content, :url => { :controller => 'comments', :action => 'create' } do |f| %>
			<!-- <#%= f.input :id, :as => :hidden, :input_html=> {"value"=>@talk.id}%> -->
			<%= f.input :id, :input_html=> {"value"=>@talk.id}%>
			<%= f.input :comments %>
			<%= f.submit "Send", :class=>"btn btn-primary" %>
		<% end %>
		</div>
	</div>


	<%= simple_form_for :talk, :role=> "form", :url => talk_path(@talk.id), :method=>:put do |f| %>
	
	<%= f.input :id, :id=>"id" ,:as => :hidden %>					
	<div class="row">
		<div class= "col-md-8">
			<div class="row">
				<%= render :partial => 'speaker_data', :locals => { :f => f, :a => @talk.acadamic_history } %>	
				<%= render :partial => 'helper_data', :locals => { :f => f, :t=>@talk } %>	
			</div>	
  		</div>
  		<div class="col-md-4">
			<div class="panel panel-primary">
  				<div class="panel-heading">
   		 			<h3 class="panel-title">Process List</h3>
  				</div>
				<div class="panel-body process_list">
					
						<div class="row">
			  				<!-- <div class="col-md-6"> -->
			  					<ul>
			  					<% @talk.talk_process_lists.each  do |p| %>
			  						<li ><label><input type="checkbox" <%= p.finished ? 'checked' : '' %> class="process_checkbox"  <%= p.finished ? 'disabled' : '' %> > <%=p.all_process.title%><input type="hidden" class="id"  value="<%= p.all_process.id %>"></label> <input type="text" class="datetimepicker  <%= p.finished ? 'show' : 'hide' %>"  <%= p.finished ? 'disabled' : '' %>  value= "<%= p.finished_date%>"  >	</li>
									<% end %>
			  				    </ul>
			  				<!-- </div> -->
			  				
						</div>
					
				</div>
				<!--
			 	<div class="panel-footer">
					<#%= button_tag "add process" , :id=>"add_process", :class=>" btn btn-primary"%>
				</div> -->
			</div>
		</div>
	</div>
	<%= render :partial => 'talk_data', :locals => { :f => f } %>	
	<%= render :partial => 'submit_data', :locals => { :f => f } %>
	<% end %>
</div>





<script type="text/javascript">




          
$('.mymodal').click(function(){
	var type = $(this).data('id');
	document.getElementById("comment_comment_type").value = type;
});
				
						
$("#save_comment").click(function(){
	
	return false;
});

$('.datetimepicker').datepicker({
                    language: 'en',
                    format: 'yyyy-mm-dd',
         			autoclose:true,
         			pickTime: false,
         			todayHighlight: true,
         			todayBtn: "linked"
          	      });
          	  
$('.process_checkbox').click(function(){
    
   if($(this).get(0).checked)
   	  $($(this).parent().parent().find(".datetimepicker")).removeClass("hide").addClass("show");
   else
   	  $(this).parent().parent().find(".datetimepicker").removeClass("show").addClass("hide");

});

</script>
 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	<div class="modal-dialog">
    	<div class="modal-content"></div>
    	<%= simple_form_for :comment ,:role=> "form", :url => comments_path, :method=>:post do|f| %>	
    		<div class="modal-body" >
		
				<div id="myModalContent"> 
        			<%= f.input :comments , :label =>false, :input_html=>{:class=>"form-control", :placeholder=>"Leave a comment"}%>
		    		<%= f.input :comment_type, :as=>:hidden %>
    				<%= f.input :id, :as=>:hidden,  :input_html=>{:value=>@talk.id}%>
    			</div>
			</div>
			<div class="modal-footer">
    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    		<%= f.submit "Save Comment", :class=>"btn btn-primary", :id=>"save_comment", :input_html=>{"data-toggle"=>"modal",  "data-target"=>"#myModal"}%>
	  		</div>
  		<% end %>
    </div>
</div>

