<style>
  .thumb {
    height: 300px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>
<!-- this is comment -->
<div class="container">
<p style="color: green"><%= flash[:notice] %></p>



<%= simple_form_for :talk_content ,:role=> "form", :url => helpers_path do|f| %>
<h3><%= f.input_field :comment , :as=>:text , :class => "form-control" ,:placeholder=>"notes"%></h3>
<div class="row">
	<div class= "col-md-6">
		<div class="row">
		<%= render :partial => 'speaker_data', :locals => { :f => f } %>	
		</div>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Helpers</h2>
				</div>
				<div class="panel-body">
					<div id="helpers_list">
						<div class="row">
							<div class="col-md-4 show">
								<h3><%= current_user.name %></h3>
								<%= f.label :user_id, label: current_user.id, :class=>"helpers", :id=>"current_helper_id", required: false, :as => :hidden%>
							</div>
							<div class="col-md-4 show" >
								<h3><%= f.input_field :user_id, :collection => User.all , :class => "helpers"%></h3>
							</div>
							<div class="col-md-4 hidden" >
								<h3><%= f.input_field :user_id, :collection => User.all , :class => "helpers"%></h3>
							</div>
						</div>
					</div>
				</div>
			</div> 
	  	</div>
	</div>
	<div class="col-md-6">
		<%= render :partial => 'process_data', :locals => { :f => f } %>	
	</div>	
</div>
<%= render :partial => 'talk_data', :locals => { :f => f } %>	
<div class="col-md-12 col-md-offset-11">
<%= f.input :date_array, :as => :hidden %>				
<%= f.input :check_array, :as => :hidden  %>	
<%= f.input :name_array, :as => :hidden  %>	
<%= f.input :users_array, :as => :hidden  %>	
<%= f.submit "Save", :class=>"btn btn-primary btn-lg"%>
</div>
<% end %>			

			

</div>


        <script type="text/javascript">
            $(function () {            
                $('.datetimepicker').datepicker({
                    language: 'en',
                    format: 'yyyy/mm/dd',
         			autoclose:true,
         			pickTime: false,
         			todayHighlight: true,
         			todayBtn: "linked"
          	      });
          	  });
				//$(".row.draggable").draggable({revert: "invalid"});
				$(".row.draggable").droppable();
				$(".tab-pane" ).sortable();
    			$(".tab-pane" ).disableSelection();
				$(".boolean.optional").change(function() {
				     if(this.checked)
				    	{
				    	$(this).parent().parent().find('.hidden').removeClass('hidden').addClass('show');
				    	var current = new Date();
				    	var today = current.getFullYear()+"/"+(current.getMonth()+1)+"/"+current.getDate() ;
				    	var datetimepicker = $(this).parent().parent().find('.show').find('.datetimepicker');
				    	if(datetimepicker.val()=="")
				    		datetimepicker.val(today);
				    	}
				 	 else 
				 	 	{
				 	 		$(this).parent().parent().find('.show').removeClass('show').addClass('hidden');
				 	 		var datetimepicker = $(this).parent().parent().find('.hidden').find('.datetimepicker');
				 	 			datetimepicker.val("");
				 	 	}

				    });
				

				$(".remove_process").click(function(){
					$(this).parent().parent().remove();
					
					return false;

				});
				$(".helpers").change(function(){
					
					if(this.value=="")
						$(this).parent().next('div').removeClass('show').addClass('hidden');
					else
						$(this).parent().next('div').removeClass('hidden').addClass('show');

				});
				$("#add_process").click(function(){
					$('.tab-pane.active').append(
						$('<div>', {'class' : 'row draggable'}).append(
							$('<div>', {'class': 'col-md-6'}).append(
	     						$('<input/>', {'class': 'boolean optional','checked_value':'true', "type" : "checkbox", "value":"true", "unchecked_value":"false"})).append(
	     						$("<label/>" , { "text":"new process" ,"contentEditable":"true","class":"process_name",  'boolean_style':'inline', 'for':'talk_content_process'}))).append(
	     					$('<div>', {'class': 'col-md-2'}).append(
	     						$("<button/>", {"text":"remove", "class":"remove_process btn btn-danger btn-xs"}))).append(
	     					$('<div>', {'class': 'col-md-3'}).append(
							$("<input/>", {"text":"", "class":"datetimepicker form-control"})
	     						)
					))
					$(function () {            
              		  $('.datetimepicker').datepicker({
	                    language: 'en',
	                    format: 'mm/dd/yyyy',
	         			autoclose:true,
	         			pickTime: false,
	         			todayHighlight: true,
	         			todayBtn: "linked"
	          	      });
          	 		 });
					return false;
				});
				  $('.simple_form.talk_content').submit(function()
					{
	    				try{
	    					var tab_active = $(".tab-pane.active");
					      	var all_dates = tab_active.find(".datetimepicker").map(function() {
	    					return this.value;
							}).get();
					     	 document.getElementById("talk_content_date_array").value = all_dates;
					    
					     	var all_checks = tab_active.find(".boolean.optional").map(function() {
	    					return this.checked;
							}).get();
					     	 document.getElementById("talk_content_check_array").value = all_checks;
					    	
					    	var all_checks_process_names = tab_active.find(".process_name").map(function() {
	    					return this.textContent;
							}).get();
					     	 document.getElementById("talk_content_name_array").value = all_checks_process_names;

					     	 

					      	var users = $("#helpers_list").children().find(".helpers").map(function() {
	    					return this.value;
							}).get();
					     	 
					     	 document.getElementById("talk_content_users_array").value = document.getElementById("current_helper_id").textContent+ "," +users;
					     	 

					    	}						
					    catch (error)
					    	{}
					    	
					});

function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();
	  var target = $(evt.target).parent().parent().find(".list");
      
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          target.empty();
          target.append(span);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('bg_files').addEventListener('change', handleFileSelect, false);
  document.getElementById('photography_files').addEventListener('change', handleFileSelect, false);
  
        </script>
 






<!-- Nav tabs -->


<!-- Tab panes -->
