
    &nbsp;&nbsp;&nbsp;<img src='assets/ioh.png' alt='error' height='74.25' width='327.5'>
    <div>
      <span class='menu' id="menuID">
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>關於IOH</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>IOH團隊</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>參與IOH</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>最新消息</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>聯絡我們</big></font></a>
      </span>
    </div>

    <div id="carousel-example-generic" class="carousel slide carouselLayout" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <span>
            <!-- 480x270 = 16x9 -->
            <img src="assets/carousel1.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel2.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel3.png" alt="hi" width="472" height="265.5">
          </span>
          <div class="carousel-caption">
            111
          </div>
        </div>

        <div class="item">
          <span>
            <img src="assets/carousel4.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel5.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel6.png" alt="hi" width="472" height="265.5">
          </span>
          <div class="carousel-caption">
            111
          </div>
        </div>
        
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

     <div style="background-color:rgb(146, 2, 23); text-align:center;  position:relative;" id="menuID">
      <div class="row">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;"><font size='3'><big>發現講座</big></font></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <font size='4' color="white"><big>|</big></font>
        &nbsp;&nbsp;&nbsp;
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;"><font size='3'><big>搜尋講座</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="inputKeyWords" name="firstname" placeholder="輸入關鍵字" style="height:20px; width:120px; text-align:center;">
      </div>
     <di class="row">
        
     

<div class="btn-toolbar filters" role="toolbar">
  <div class="row" >
      <button type="button" class="btn btn-default btn-circle btn-xl ">方向</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">求學</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">工作</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">創業</button>
    
    
    
      <button type="button" class="btn btn-default btn-circle btn-xl">地區</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">亞洲</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">美洲</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">歐洲</button>
      <button type="button" class="btn btn-default btn-circle btn-lg">其他</button>
      
      <button type="button" class="btn btn-default btn-circle btn-xl"  data-filter="*">領域</button>
      <% @fields.each do |f| %>
         <button type="button" class="btn btn-default btn-circle btn-lg" data-filter=".<%= f[0].tr("&","").tr(" ","")%>"><%= f[1]%></button>
      <% end %>

  </div>
</div>
  </div> 
</div>
</div>

   


<div class="isotope">
  <% Talk.all.each do |t| %>
    <div class="element-item   <%=t.acadamic_history.college.tr("&","").tr(" ","")%> metal " data-category="<%=t.acadamic_history.college%>">
    
    <h3 class="name">     <%= t.acadamic_history.speaker_profile.eng_name%> </h3>
    <p class="school">    <%= t.acadamic_history.school %>  </p>
    <p class="department"><%= t.acadamic_history.department %> </p>
    </div>
  <% end%>
</div>

    <div style="background:black; padding:12px;">
      <span style="position:relative; left:60px;">
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>關於IOH</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>IOH團隊</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>參與IOH</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>最新消息</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>聯絡我們</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>IOH小鋪</big></font></a>
      </span>
      
      <a href="http://www.ntu.edu.tw"><img src="assets/iohElecNews.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:0px;"></a>
      <a href="http://www.ioh.tw/"><img src="assets/iohSmallStore.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:-10px;"></a>
      <a href="https://twitter.com/"><img src="assets/twitter.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:-20px;"></a>
      <a href="http://www.facebook.com"><img src="assets/fb.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:-30px;"></a>
      
    </div>

 <script type="text/javascript">
$( function() {
  // init Isotope
  var $container = $('.isotope').isotope({
    itemSelector: '.element-item',
    layoutMode: 'fitRows',
    getSortData: {
      name: '.name',
      school: '.school',
      department: '.department',
      number: '.number parseInt',
      category: '[data-category]',
      weight: function( itemElem ) {
        var weight = $( itemElem ).find('.weight').text();
        return parseFloat( weight.replace( /[\(\)]/g, '') );
      }
    }
  });

  // filter functions
  var filterFns = {
    // show if number is greater than 50
    numberGreaterThan50: function() {
      var number = $(this).find('.number').text();
      return parseInt( number, 10 ) > 50;
    },
    // show if name ends with -ium
    ium: function() {
      var name = $(this).find('.name').text();
      return name.match( /ium$/ );
    }
  };

  // bind filter button click
  $('.filters').on( 'click', 'button', function() {
    var filterValue = $( this ).attr('data-filter');
    
    // use filterFn if matches value
    filterValue = filterFns[ filterValue ] || filterValue;
    
    $container.isotope({ filter: filterValue });
  });

  // bind sort button click
  $('#sorts').on( 'click', 'btn', function() {
    var sortByValue = $(this).attr('data-sort-by');
    $container.isotope({ sortBy: sortByValue });
  });
  
  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  
});


</script>