<style>

 </style> 
<!-- this is comment -->

<p style="color: green"><%= flash[:notice] %></p>

<%= simple_form_for :talk_content ,:role=> "form", :url => helpers_path do|f| %>

<div class="row">
<div class="col-md-11">
	<div class="col-md-8">
		<input type="text" class="form-control" placeholde="haha">
	</div>
	<div class="col-md-4">
		<div class="col-md-1"><%= f.input :check_acadamic1, :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false %></div>
		<div class="col-md-2"> Important</div>
		<div class="col-md-1"><%= button_tag "Add" , :id=>"Add"%></div>
	</div>
	
</div>
</div>

<div class="col-md-2" width=2>
	<h2>Speaker</h2>
</div>
	
<div class="row">
	<div class="col-md-7">
		<div class="col-md-2">
			Existing Speaker
		</div>
		<div class="col-md-2">
			<%=f.collection_select :existing, SpeakerProfile.all, :id, :eng_name%>
		</div>
		<p>
	</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-2">
		<div class="col-md-2">
			New Speaker
		</div>
		<div class="col-md-2">
			<%= f.input :eng_name , :input_html => { :class => "form-control"}, placeholder:"Eng_name" , label: false%>	
		</div>
		<div class="col-md-2">
		<%= f.input :chi_name ,  placeholder:"Chi_name" , label: false, :input_html => { :class => "form-control"}%> 
		</div>
		<p>
	</div>
</div>
<p>


<div class="container">
	<!--
	<div class="row">
		<div class="col-cs-4">
			<%= f.input :comment, label: "comment" %>
		</div>
	</div>
	-->
	<div class="row">
	  <div class="col-md-6">
	  	<!--
	  	<div class="row">
		  	  <div class="col-md-6">EXISTING SPEAKER</div>
			  <div class="col-md-6">
			  			<%=f.collection_select :existing, SpeakerProfile.all, :id, :eng_name%>
			  </div>
		</div>
		<div class="row">
			<div class="col-md-3">NEW SPEAKER</div>
			<div class="col-md-2"> 
				<%= f.input :eng_name , :input_html => { :class => "form-control"}, placeholder:"Eng_name" , label: false%>	
			</div>
			<div class="col-md-2"> 
				<%= f.input :chi_name ,  placeholder:"Chi_name" , label: false, :input_html => { :class => "form-control"}%> 
			</div>
		</div>
		-->
		<div class="row">
	  		<h4><div class="col-md-1"></div></h4>
	  		<h4><div class="col-md-2">School</div></h4>
	  		<h4><div class="col-md-3">Department</div></h4>
	  		<h4><div class="col-md-2">Year</div></h4>
	  		<h4><div class="col-md-2">Degree</div></h4>
	  		<h4><div class="col-md-2">Nation</div></h4>
	  	</div>
	  	<p>
	  	<div class="row">
	  		<h4><div class="col-md-1"><%= f.input :check_acadamic1, :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false %></div></h4>
	  		<div class="col-md-2"><%= f.input :school1 , label:"school1", label: false ,placeholder:"School", :input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-3"><%= f.input :department1 , label:"department1" , label: false, :input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :year1 , label:"year1" , label: false, :input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :degree1 , label:"degree1" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :nation1 , label:"nation1" , label: false,:input_html => { :class => "form-control"}%></div>
	  	</div>
	  	<div class="row">
	  		<h4><div class="col-md-1"><%= f.input :check_acadamic2, :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false,:input_html => { :class => "form-control"}%></div></h4>
	  		<div class="col-md-2"><%= f.input :school2 , label:"school2", label: false,:input_html => { :class => "form-control"} %></div>
	  		<div class="col-md-3"><%= f.input :department2 , label:"department2" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :year2 , label:"year2" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :degree2 , label:"degree2" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :nation2 , label:"nation2" , label: false,:input_html => { :class => "form-control"}%></div>
	  	</div>
	  	<div class="row">
	  		<h4><div class="col-md-1"><%= f.input :check_acadamic3, :as => :boolean, label: false , checked_value: true, unchecked_value: false, default: false,:input_html => { :class => "form-control "}%></div></h4>
	  		<div class="col-md-2"><%= f.input :school3 , label:"school3", label: false ,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-3"><%= f.input :department3 , label:"department3" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :year3 , label:"year3" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :degree3 , label:"degree3" , label: false,:input_html => { :class => "form-control"}%></div>
	  		<div class="col-md-2"><%= f.input :nation3 , label:"nation3" , label: false,:input_html => { :class => "form-control"}%></div>
	  	</div>			  			 	
		<div class="row">
			<div class="col-md-9" id="helpers_list">
				HELPERS
				<div class="show">
					<%=  current_user.name %>
					<%= f.label :user_id, label: current_user.id, :class=>"helpers", :id=>"current_helper_id", required: false%>
				</div>
				<div class="show" >
					<%= f.input_field :user_id, :collection => User.all , :class => "helpers"%>
				</div>
				<div class="hidden" >
					<%= f.input_field :user_id, :collection => User.all , :class => "helpers"%>
				</div>
				<div class="hidden" >
					<%= f.input_field :user_id, :collection => User.all , :class => "helpers"%>
				</div>
				<div class="hidden" >
					<%= f.input_field :user_id, :collection => User.all , :class => "helpers"%>
				</div>
			</div>
			<div class="col-md-3">
				<%= button_tag "add helper" , :id=>"add_helper"%>
			</div>
		</div>
	</div>
	<div class="col-md-6">
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#record" data-toggle="tab">Record</a></li>
			  <li><a href="#live" data-toggle="tab">Live Talk</a></li>
			  <li><a href="#article" data-toggle="tab">Article</a></li>
			  </a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="record">
				 <%  @process_lists.where(:process_type=>"record").each do |t| %>
			  		 <div class="row draggable">
				  		<div class="col-md-6">
					  		<%= f.input_field :process,   as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false, :include_hidden => false %>
					  		<%= f.label :process, t.title, :class=>"process_name" , boolean_style: :inline,:contentEditable =>"true"%>
				  		</div>
			  			<div class="col-md-2">
			  				 <%= button_tag "remove" , :class=>"remove_process" %>
			  			</div>
			  			<div class="col-md-4">
			  				<div class="hidden"> 	<%= f.input :process_lists , :input_html => { :class => "datetimepicker"} , label: false%>
			  				</div>
			  		 
						</div>
					</div>
				<% end %> 
			  </div>
			  <div class="tab-pane" id="live">
			    	 <%  @process_lists.where(:process_type=>"live").each do |t| %>
			  		 <div class="row ">
				  		<div class="col-md-6">
					  		<%= f.input_field :process,   as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false, :include_hidden => false %>
					  		<%= f.label :process, t.title, :class=>"process_name" , boolean_style: :inline,:contentEditable =>"true"%>
				  		</div>
			  			<div class="col-md-2">
			  				 <%= button_tag "remove" , :class=>"remove_process" %>
			  			</div>
			  			<div class="col-md-4">
			  				<div class="hidden"> 	<%= f.input :process_lists , :input_html => { :class => "datetimepicker"} , label: false%>
			  				</div>
			  		 
						</div>
					</div>
				<% end %> 
			  </div>
			  <div class="tab-pane" id="article">
			  		 <%  @process_lists.where(:process_type=>"atricle").each do |t| %>
			  		 <div class="row">
				  		<div class="col-md-6">
					  		<%= f.input_field :process,   as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false, :include_hidden => false %>
					  		<%= f.label :process, t.title, :class=>"process_name" , boolean_style: :inline,:contentEditable =>"true"%>
				  		</div>
			  			<div class="col-md-2">
			  				 <%= button_tag "remove" , :class=>"remove_process" %>
			  			</div>
			  			<div class="col-md-4">
			  				<div class="hidden"> 	<%= f.input :process_lists , :input_html => { :class => "datetimepicker"} , label: false%>
			  				</div>
			  		 
						</div>
					</div>
				<% end %> 
			  </div>
			</div>
			<%= button_tag "add process" , :id=>"add_process"%>
		</div>
	</div>

<div class="row">
Talk
</div>	

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Online Meeting</h3>
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="comment+">
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Poster</h3>
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="comment+">
		</div>
		<div class="col-md-1">
			Upload
		</div>
		<div class="col-md-1">
			 <%= f.file_field :bg%>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Part 1 Video</h3>
		</div>
		<div class="col-md-7">
			<input type="text" class="form-control" placeholder="Video Link">
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Part 1 Content</h3>
		</div>
		<div class="col-md-7">
			<textarea class="form-control" rows="3"></textarea>
		</div>
		
	</div>
</div>
<p>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Part 2 Video</h3>
		</div>
		<div class="col-md-7">
			<input type="text" class="form-control" placeholder="Video Link">
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Part 2 Content</h3>
		</div>
		<div class="col-md-7">
			<textarea class="form-control" rows="3"></textarea>
		</div>
		
	</div>
</div>
<p>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-1">
			<h3>BIO</h3>
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="comment+">
		</div>
		<div class="col-md-7">
			<textarea class="form-control" rows="3"></textarea>
		</div>
	</div>
</div>	
<p>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Photo</h3>
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="comment+">
		</div>
		<div class="col-md-1">
			Upload
		</div>
		<div class="col-md-1">
			 <%= f.file_field :bg%>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="col-md-3">
			<h3>Background</h3>
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="comment+">
		</div>
		<div class="col-md-1">
			Upload
		</div>
		<div class="col-md-1">
			 <%= f.file_field :bg%>
		</div>
	</div>
</div>

<!--
<div class="row">
<%= f.label :intro%>
<%= f.input_field :intro%>
</div>

<div class="row">
<%= f.label :poster %>
<%= f.input_field :poster%>
</div>
<div class="row">
<%= f.label :slide1 %>
<%= f.input_field :slide1%>
</div>
<div class="row">
<%= f.label :slide2 %>
<%= f.input_field :slide2%>
</div>
<div class="row">
<%= f.label :slide3 %>
<%= f.input_field :slide3%>
</div>
<div class="row">
<%= f.label :videourl1%>
<%= f.input_field :videourl1%>
</div>
<div class="row">
<%= f.label :videourl2 %>
<%= f.input_field :videourl2%>
</div>
<div class="row">
<%= f.label :videourl3%>
<%= f.input_field :videourl3%>
</div>
<div class="row">
<%= f.label :videocomment1 %>
<%= f.input_field :videocomment1 %>
</div>
<div class="row">
<%= f.label :videocomment2%>
<%= f.input_field :videocomment2%>
</div>
<div class="row">
<%= f.label :videocomment3%>
<%= f.input_field :videocomment3%>
</div>
<div class="row">
<%= f.label :feedback1%>
<%= f.input_field :feedback1%>
</div>
<div class="row">
<%= f.label :feedback2%>
<%= f.input_field :feedback2%>
</div>
<div class="row">
<%= f.label :feedback3%>
<%= f.input_field :feedback3%>
</div>
<div class="row">
BG<%= f.file_field :bg%>
PHOTO<%= f.file_field :photography%>
</div>
-->
<div class="col-md-12 col-md-offset-9">
<%= f.input :date_array, :as => :hidden %>				
<%= f.input :check_array, :as => :hidden  %>	
<%= f.input :name_array, :as => :hidden  %>	
<%= f.input :users_array, :as => :hidden  %>	
<%= f.submit "Save" %>
</div>
<p>


<% end %>			
	
			

</div>

        <script type="text/javascript">
            $(function () {            
                $('.datetimepicker').datepicker({
                    language: 'en',
                    format: 'mm/dd/yyyy',
         			autoclose:true,
         			pickTime: false,
         			todayHighlight: true,
         			todayBtn: "linked"
          	      });
          	  });
				//$(".row.draggable").draggable({revert: "invalid"});
				$(".row.draggable").droppable();
				$(".tab-pane" ).sortable();
    			$(".tab-pane" ).disableSelection();
				$(".boolean.optional").change(function() {
				     if(this.checked)
				    	 $(this).parent().parent().find('.hidden').removeClass('hidden').addClass('show');
				 	 else 
				 	 	$(this).parent().parent().find('.show').removeClass('show').addClass('hidden');
				    });
				$(".nav.nav-tabs").change(function()
					{
						alert("hihi");
					});

				$(".remove_process").click(function(){
					$(this).parent().parent().remove();
					return false;

				});
				$(".helpers").change(function(){
					
					if(this.value=="")
						$(this).parent().next('div').removeClass('show').addClass('hidden');
					else
						$(this).parent().next('div').removeClass('hidden').addClass('show');

				});
				$("#add_process").click(function(){
					$('.tab-pane.active').append(
	     				$('<label/>', {'class': 'checkbox'}).append(
	     					$('<input/>', {'class': 'checkbox', "type" : "checkbox", "value":"true", "unchecked_value":"false"})).append(
	     					$("<label/>" , {'placeholder':"new process", "text":"NEW PROCESS", "contentEditable":"true","class":"process_name"})).append(
	     					$("<input/>", {'class':"datetimepicker"}))
	     					);
	     				$(function () {            
                $('.datetimepicker').datepicker({
                    language: 'en',
                    format: 'mm/dd/yyyy',
         			autoclose:true,
         			pickTime: false
          	      });
          	  });
	     				return false;

				})
				  $('.simple_form.talk_content').submit(function()
					{
	    				try{
	    					var tab_active = $(".tab-pane.active");
					      	var all_dates = tab_active.find(".datetimepicker").map(function() {
	    					return this.value;
							}).get();
					     	 document.getElementById("talk_content_date_array").value = all_dates;
					    
					     	var all_checks = tab_active.find(".boolean.optional").map(function() {
	    					return this.checked;
							}).get();
					     	 document.getElementById("talk_content_check_array").value = all_checks;
					    	
					    	var all_checks_process_names = tab_active.find(".process_name").map(function() {
	    					return this.textContent;
							}).get();
					     	 document.getElementById("talk_content_name_array").value = all_checks_process_names;

					     	 

					      	var users = $("#helpers_list").children().find(".helpers").map(function() {
	    					return this.value;
							}).get();
					     	 
					     	 document.getElementById("talk_content_users_array").value = document.getElementById("current_helper_id").textContent+ "," +users;
					     	 

					    	}						
					    catch (error)
					    	{}
					    	
					});
        </script>
 






<!-- Nav tabs -->


<!-- Tab panes -->
