<style>
  .thumb {
    height: 300px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>
<!-- this is comment -->
<div class="container">
<p style="color: green"><%= flash[:notice] %></p>



<%= simple_form_for :talk_content ,:role=> "form", :url => talks_path do|f| %>
<h3><%= f.input_field :comment , :as=>:text , :class => "form-control" ,:placeholder=>"notes"%></h3>
<div class="row">
	<div class= "col-md-6">
		<div class="row">
		<%= render :partial => 'speaker_data', :locals => { :f => f } %>	
		</div>
		<div class="row">
		<%= render :partial => 'helper_data', :locals => { :f => f } %>	
	</div>
	</div>
	<div class="col-md-6">
		<%= render :partial => 'process_data', :locals => { :f => f } %>	
	</div>	
</div>
<%= render :partial => 'talk_data', :locals => { :f => f } %>	
<%= render :partial => 'submit_data', :locals => { :f => f } %>	
<% end %>			

			

</div>


        
 






<!-- Nav tabs -->


<!-- Tab panes -->
