<p style="color: green"><%= flash[:notice] %></p>

<%= form_for :talk_content , :url => helpers_path do|f| %>
<%= f.label "Bio" %>
<%= f.text_field :bio %>
<%= f.label "Title" %>
<%=	f.text_field :title %>
<%= f.file_field :photography %>
<%= f.submit "upload" %>
<% end %>
