<h1>Speaker#index</h1>
<p>Find me in app/views/speaker/index.html.erb</p>

<!-- <#% @speakers_working.each do |e| %> -->

<!-- !!!!!!!!!!! TEXT !!!!!!!!!!!!!!!! -->

<div class = "container">
<p>
<table class="table table-hover">
  		<thead>
	  		<tr>
	  			<td>English Name</td>
	  			<td>Chinese Name</td>
	  			<td>Country</td>
	  			<td>School</td>
	  			<td>Department</td>
	  			<td>Degree</td>
	  			<td>Graduated Year</td>
	  			<td>Edit link</td>
	  		</tr>
  		</thead>
  		<tbody>

        <% @speakerlist.each do |s| %>
          <div class="panel-group" id="speakerList">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href = #<%=s.id%>>
                    <%= s.eng_name %> (<%= s.chi_name %>)
                  </a>
                </h4>
              </div>
              <div id= <%=s.id%> class="panel-collapse collapse in">
                <div class="panel-body">
                  <p><%= link_to "edit",edit_speaker_path(s.id) %></p>
                  <% s.acadamic_histories.each do |t| %>
                    <% if t.nation || t.school %>
                      <p><%= t.nation %>, <%= t.school %>, <%= t.department %>, <%= t.degree %>, <%= t.year %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>





<!--   			<#% @speakerlist.each do |s| %>
          <#% if s.eng_name || s.chi_name %>
            <td><#%= s.eng_name %></td>
            <td><#%= s.chi_name %></td>
    			  <#% s.acadamic_histories.each do |t| %>

              <#% if t.nation || t.school %>
                <td><#%= t.nation %></td>
      				  <td><#%= t.school %></td>
  	   			    <td><#%= t.department %></td>
  		  		    <td><#%= t.degree %></td>
  			   	    <td><#%= t.year %></td>
              <#% end %>
              <#% if t == s.acadamic_histories.first %>
                <td><#%= link_to "edit",edit_speaker_path(s.id) %></td>
              <#% end %>
              <#% if t != s.acadamic_histories.last %>
                </tr><td></td><td></td>
              <#% else %>
                </tr>
              <#% end %>
            <#% end %>
          <#% end %>
  			<#% end %> 
 -->  		</tbody>
	</table>
</div>
