<h1>Speaker#index</h1>
<p>Find me in app/views/speaker/index.html.erb</p>

<!-- <#% @speakers_working.each do |e| %> -->

<!-- !!!!!!!!!!! TEXT !!!!!!!!!!!!!!!! -->

<!-- <div class = "container">
  <table class="table table-hover"> -->
<div class="container">
<% n = 0 %>
<% @speakerlist.each do |s| %>
  <% n += 1%>
  <div class="panel-group" id="speakerList">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href = #<%=s.id%>>
            <%= n %>. <%= s.eng_name %> (<%= s.chi_name %>)&nbsp&nbsp
            <% r = s.acadamic_histories.first %>
            <% if r %>
              <font size=1><em>
              <%= r.nation %>,&nbsp
              <%= r.school %>,&nbsp
              <%= r.college %>,&nbsp
              <%= r.department %>,&nbsp
              <%= r.degree %>,&nbsp
              <%= r.year %>&nbsp&nbsp
              </em></font>
            <% end %>
            <%= link_to "edit","/speakers/"+ s.id.to_s+"/edit/", {:style => "color:#2B65EC"} %>
          </a>
        </h4>
      </div>
      <div id= <%=s.id%> class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nation</th>
                <th>University/School</th>
                <th>College</th>
                <th>Department</th>
                <th>Degree</th>
                <th>Year</th>
                <th>Create/Edit Talk</th>
              </tr>
            </thead>
            <tbody>
              <% m = 0 %>
              <% s.acadamic_histories.each do |t| %>
                <% if t.nation || t.school %>
                  <% m += 1%>
                  <tr>
                    <th><%= m %></th>
                    <th><%= t.nation %></th>
                    <th><%= t.school %></th>
                    <th><%= t.college %></th>
                    <th><%= t.department %></th>
                    <th><%= t.degree %></th>
                    <th><%= t.year %></th>
                    <% if t.talk_id %>
                      <th><%= link_to "Edit Talk", "/talks/" + t.talk_id.to_s + "edit" %></th>
                    <% else %>
                      <th><%= link_to "Create Talk", "/talks/new/" + t.id.to_s %></th>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<!-- 	</table>
</div>
 -->